/*RODA MAIOR DE LOADING*/
.loading{
    width: 200px;
    height: 200px;
    border: 50px solid #ff0000b2;
    border-top-color: #ff0000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}


@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}

/*----------------------------------------------------------------------*/

/*RODA COM OS 3 PONTINHOS*/
.dots div {
    width: 50px;
    height: 50px;
    background: blue;
    border-radius: 50%;
    margin-left: 15px;

    animation: move 1s ease-in-out infinite alternate;
}
.dots div:nth-child(1){
    animation-delay: -0.4s;
}

.dots div:nth-child(2){
    animation-delay: -0.2s;
}

.dots {
    display: flex;
}

@keyframes move{
    from{
        transform: translateY(-100%);

    }
    to{
       transform: translateY(100%);
    }
}

