/*RODA MAIOR DE LOADING*/
/*
.loading{
    width: 200px;
    height: 200px;
    border: 50px solid #ff0000b2;
    border-top-color: #ff0000;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}


@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}

/*----------------------------------------------------------------------*/

/*RODA COM OS 3 PONTINHOS*//*
.dots div {
    width: 50px;
    height: 50px;
    background: blue;
    border-radius: 50%;
    margin-left: 15px;

    animation: move 1s ease-in-out infinite alternate;
}
.dots div:nth-child(1){
    animation-delay: -0.4s;
}

.dots div:nth-child(2){
    animation-delay: -0.2s;
}

.dots {
    display: flex;
}

@keyframes move{
    from{
        transform: translateY(-100%);

    }
    to{
       transform: translateY(100%);
    }
}*/

/*OUTRA FORMA DE FAZER O LOADING*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
}

.load{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.load .dot{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 10px;
    display: inline-block;
    background-color: rgb(6, 205, 240);
    transform: scale(0.2);
    animation: animacao 1.2s infinite;
}

.dot:nth-child(2){ animation-delay: 0.2s;}
.dot:nth-child(3){ animation-delay: 0.4s;}
.dot:nth-child(4){ animation-delay: 0.7s;}
.dot:nth-child(5){ animation-delay: 1s;}
.dot:nth-child(6){ animation-delay: 1.2s;}

@keyframes animacao{
    0%, 100%{
        transform: scale(0.2);
    }
    50%{
        transform: scale(1);
    }
}
